@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
*{
    font-family: 'Titillium Web', sans-serif;
    background-color: #9fccfa
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-link{
    text-decoration: none;
    font-size: 25px;
    color: #001219;
    font-weight: 900;
}
.nav-items{
    transition: transform 0.2s;
    list-style: none;
}
.nav-items:hover{
    transform: translateY(-5px);
}
.home{
    color: white;
    text-align: center;
}
.home h1{
    margin-bottom: 0;
}
.home p{
    margin-top: 0;
    font-size: 35px;
}
.home img{
    height: 150px;
    margin-top: 4em;
    border-radius: 30px;
    box-shadow: 2px 18px 29px 27px #9fccfa;
    transition: all 0.6s;
}
.home img:active{
    transform: rotate(0.5turn) rotate(0.5turn);
}
/* .home img:hover{
    transform: rotate(0.5turn) rotate(0.5turn);
} */

